BETTER_AUTH_SECRET=v2hchSbUlR9Hfbbo2m1e5ioLled8WxKE

MONGODB_URI=mongodb+srv://bloodDonationDB:o5vPiCfoaPMZsSy5@cluster0.brotjoo.mongodb.net/?appName=Cluster0
PORT=5101
MONGODB_DB=bloodDonationDB
CLIENT_URL=http://localhost:5173
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1